h1   {color: #05627F;}
h2   {color: #05627F;}
h3   {color: #05627F;}

/* Style the tabs on the top */
.tab {
    overflow: hidden;
    background-color: #E6E6E6;
    font-size: 130%;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

#chengzhi {
    float: left;
    width: 210px;
    height: 340px;
    margin: 10px 20px 5px 10px;
    border-radius: 5px;
}

p, li {
    font-size: 1em
}
